@model LoginViewModel
@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>
<div class="row">
    <div class="col-md-12">
        <form asp-action="Login" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email"></label>
                <input asp-for="Email" class="form-control" />
                <span class="text-danger" asp-validation-for="Email"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" class="form-control" />

                <span class="text-danger" asp-validation-for="Password"></span>
            </div>
            <div class="form-group">
                <label asp-for="RememberMe">
                    <input asp-for="RememberMe" />
                    @Html.DisplayNameFor(b => b.RememberMe)
                    <span class="text-danger" asp-validation-for="RememberMe"></span>
                </label>
            </div>
            <input type="submit" value="Login" class="btn btn-success" />

        </form>
    </div>

</div>
@* لكي لايذهب للسيرفر ويبقى بنفس الصفحة بوقت كتابة البيانات بشكل صحيح *@
@section Scripts {
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>


}

